@import "../grid";
@import "../var";
@import "../utils";

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  .user_container {
    margin-top: 2.5rem;
    overflow-x: auto;

    .page_name {
      color: $theme-text;
      font-weight: 500;
    }
    .main {
      margin-top: 3rem;
    }
    .statistics {
      @include row;
      justify-content: space-between;
      gap: 0.5rem;

      .modal {
        width: 33.33%;
        @include modal;

        .label {
          color: $theme-text;
          padding-top: 0.8rem;
          font-weight: 0.8rem;
        }
        .count {
          color: $theme-text;
          padding-top: 0.8rem;
          font-weight: 0.8rem;
          font-weight: 600;
        }
      }
    }

    .table_con {
      margin-top: 3rem;
    }
  }

  .user_details_container {
    margin-top: 3rem;
    overflow-x: auto;

    .back {
      @include row;
      color: $theme-text_gray;
      font-weight: 500;
      gap: 0.7rem;
      cursor: pointer;
    }

    .page_con {
      @include row;
      justify-content: space-between;
      margin-top: 2rem;

      .page_name {
        color: $theme-text;
        font-weight: 500;
        display: block;
        width: 70%;
      }

      .btn_grp {
        @include row;
        gap: 2rem;
        width: 40%;

        .btn {
          width: 45%;
          font-weight: 600;
        }
      }
    }
    .main {
      margin-top: 3rem;

      .user_con {
        @include modal;
        padding: 0;
        padding-left: 1.5rem;
        padding-top: 1.5rem;

        .user {
          @include row;
          gap: 2rem;

          .avatar {
            border-radius: 50%;
          }
          .text_con {
            margin-top: 2rem;
          }
        }

        .tab_con {
          @include row;
          justify-content: space-between;
          padding-top: 1.5rem;
          width: 99%;
          margin: auto;

          .tab {
          }
          .tab_active {
            color: $theme-green;
            border-bottom: 0.2rem solid $theme-green;
          }
        }
      }

      .user_details {
        @include modal;
        margin-top: 2rem;

        .details_con {
          border-bottom: 0.1rem solid #f2f3f7;

          .title {
            color: $theme-text;
            font-weight: 500;
          }

          .details {
            @include row-wrap;
            column-gap: 8rem;
            row-gap: 2rem;
            padding-bottom: 1.5rem;

            .header {
              color: $theme-text_gray;
              margin-top: 1rem;
              text-transform: uppercase;
              font-weight: 400;
            }
            .text {
              color: $theme-text_gray;
              font-weight: 500;
              padding-top: 0.5rem;
            }
          }

          .details_2 {
            @include row-wrap;
            column-gap: 6rem;
            row-gap: 2rem;
            padding-bottom: 1.5rem;

            .header {
              color: $theme-text_gray;
              margin-top: 1rem;
              text-transform: uppercase;
              font-weight: 400;
            }
            .text {
              color: $theme-text_gray;
              font-weight: 500;
              padding-top: 0.5rem;
            }
          }
        }
      }
    }
  }
}

/* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */

@media (min-width: 1025px) and (max-width: 1280px) {
  .user_container {
    margin-top: 2.5rem;
    overflow-x: auto;

    .page_name {
      color: $theme-text;
      font-weight: 500;
    }
    .main {
      margin-top: 3rem;
    }
    .statistics {
      @include row;
      justify-content: space-between;
      gap: 0.5rem;

      .modal {
        width: 33.33%;
        @include modal;

        .label {
          color: $theme-text;
          padding-top: 0.8rem;
          font-weight: 0.8rem;
        }
        .count {
          color: $theme-text;
          padding-top: 0.8rem;
          font-weight: 0.8rem;
          font-weight: 600;
        }
      }
    }

    .table_con {
      margin-top: 3rem;
    }
  }

  .user_details_container {
    margin-top: 3rem;
    overflow-x: auto;

    .back {
      @include row;
      color: $theme-text_gray;
      font-weight: 500;
      gap: 0.7rem;
      cursor: pointer;
    }

    .page_con {
      @include row;
      justify-content: space-between;
      margin-top: 2rem;

      .page_name {
        color: $theme-text;
        font-weight: 500;
        display: block;
        width: 70%;
      }

      .btn_grp {
        @include row;
        gap: 2rem;
        width: 40%;

        .btn {
          width: 45%;
          font-weight: 600;
        }
      }
    }
    .main {
      margin-top: 3rem;

      .user_con {
        @include modal;
        padding: 0;
        padding-left: 1.5rem;
        padding-top: 1.5rem;

        .user {
          @include row;
          gap: 2rem;

          .avatar {
            border-radius: 50%;
          }
          .text_con {
            margin-top: 2rem;
          }
        }

        .tab_con {
          @include row;
          justify-content: space-between;
          padding-top: 1.5rem;
          width: 99%;
          margin: auto;

          .tab {
          }
          .tab_active {
            color: $theme-green;
            border-bottom: 0.2rem solid $theme-green;
          }
        }
      }

      .user_details {
        @include modal;
        margin-top: 2rem;

        .details_con {
          border-bottom: 0.1rem solid #f2f3f7;

          .title {
            color: $theme-text;
            font-weight: 500;
          }

          .details {
            @include row-wrap;
            column-gap: 8rem;
            row-gap: 2rem;
            padding-bottom: 1.5rem;

            .header {
              color: $theme-text_gray;
              margin-top: 1rem;
              text-transform: uppercase;
              font-weight: 400;
            }
            .text {
              color: $theme-text_gray;
              font-weight: 500;
              padding-top: 0.5rem;
            }
          }

          .details_2 {
            @include row-wrap;
            column-gap: 6rem;
            row-gap: 2rem;
            padding-bottom: 1.5rem;

            .header {
              color: $theme-text_gray;
              margin-top: 1rem;
              text-transform: uppercase;
              font-weight: 400;
            }
            .text {
              color: $theme-text_gray;
              font-weight: 500;
              padding-top: 0.5rem;
            }
          }
        }
      }
    }
  }
}

/* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1024px) {
  .user_container {
    margin-top: 2.5rem;
    overflow-x: auto;

    .page_name {
      color: $theme-text;
      font-weight: 500;
    }
    .main {
      margin-top: 3rem;
    }
    .statistics {
      @include row;
      justify-content: space-between;
      gap: 0.5rem;

      .modal {
        width: 33.33%;
        @include modal;

        .label {
          color: $theme-text;
          padding-top: 0.8rem;
          font-weight: 0.8rem;
        }
        .count {
          color: $theme-text;
          padding-top: 0.8rem;
          font-weight: 0.8rem;
          font-weight: 600;
        }
      }
    }

    .table_con {
      margin-top: 3rem;
    }
  }

  .user_details_container {
    margin-top: 3rem;
    overflow-x: auto;

    .back {
      @include row;
      color: $theme-text_gray;
      font-weight: 500;
      gap: 0.7rem;
      cursor: pointer;
    }

    .page_con {
      @include row;
      justify-content: space-between;
      margin-top: 2rem;

      .page_name {
        color: $theme-text;
        font-weight: 500;
        display: block;
        width: 70%;
      }

      .btn_grp {
        @include row;
        gap: 2rem;
        width: 40%;

        .btn {
          width: 45%;
          font-weight: 600;
        }
      }
    }
    .main {
      margin-top: 3rem;

      .user_con {
        @include modal;
        padding: 0;
        padding-left: 1.5rem;
        padding-top: 1.5rem;

        .user {
          @include row;
          gap: 2rem;

          .avatar {
            border-radius: 50%;
          }
          .text_con {
            margin-top: 2rem;
          }
        }
        .tab_con {
          @include row;
          justify-content: space-between;
          padding-top: 1.5rem;
          width: 99%;
          margin: auto;

          .tab {
          }
          .tab_active {
            color: $theme-green;
            border-bottom: 0.2rem solid $theme-green;
          }
        }
      }

      .user_details {
        @include modal;
        margin-top: 2rem;

        .details_con {
          border-bottom: 0.1rem solid #f2f3f7;

          .title {
            color: $theme-text;
            font-weight: 500;
          }

          .details {
            @include row-wrap;
            column-gap: 8rem;
            row-gap: 2rem;
            padding-bottom: 1.5rem;

            .header {
              color: $theme-text_gray;
              margin-top: 1rem;
              text-transform: uppercase;
              font-weight: 400;
            }
            .text {
              color: $theme-text_gray;
              font-weight: 500;
              padding-top: 0.5rem;
            }
          }

          .details_2 {
            @include row-wrap;
            column-gap: 6rem;
            row-gap: 2rem;
            padding-bottom: 1.5rem;

            .header {
              color: $theme-text_gray;
              margin-top: 1rem;
              text-transform: uppercase;
              font-weight: 400;
            }
            .text {
              color: $theme-text_gray;
              font-weight: 500;
              padding-top: 0.5rem;
            }
          }
        }
      }
    }
  }
}

/* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .user_container {
    margin-top: 2.5rem;
    overflow-x: auto;

    .page_name {
      color: $theme-text;
      font-weight: 500;
    }
    .main {
      margin-top: 3rem;
    }
    .statistics {
      @include row;
      justify-content: space-between;
      gap: 0.5rem;

      .modal {
        width: 33.33%;
        @include modal;

        .label {
          color: $theme-text;
          padding-top: 0.8rem;
          font-weight: 0.8rem;
        }
        .count {
          color: $theme-text;
          padding-top: 0.8rem;
          font-weight: 0.8rem;
          font-weight: 600;
        }
      }
    }

    margin-top: 3rem;
  }

  .user_details_container {
    margin-top: 3rem;
    overflow-x: auto;

    .back {
      @include row;
      color: $theme-text_gray;
      font-weight: 500;
      gap: 0.7rem;
      cursor: pointer;
    }

    .page_con {
      @include row;
      justify-content: space-between;
      margin-top: 2rem;

      .page_name {
        color: $theme-text;
        font-weight: 500;
        display: block;
        width: 70%;
      }

      .btn_grp {
        @include row;
        gap: 2rem;
        width: 40%;

        .btn {
          width: 45%;
          font-weight: 600;
        }
      }
    }
    .main {
      margin-top: 3rem;

      .user_con {
        @include modal;
        padding: 0;
        padding-left: 1.5rem;
        padding-top: 1.5rem;

        .user {
          @include row;
          gap: 2rem;

          .avatar {
            border-radius: 50%;
          }
          .text_con {
            margin-top: 2rem;
          }
        }
        .tab_con {
          @include row;
          justify-content: space-between;
          padding-top: 1.5rem;
          width: 99%;
          margin: auto;

          .tab {
          }
          .tab_active {
            color: $theme-green;
            border-bottom: 0.2rem solid $theme-green;
          }
        }
      }

      .user_details {
        @include modal;
        margin-top: 2rem;

        .details_con {
          border-bottom: 0.1rem solid #f2f3f7;

          .title {
            color: $theme-text;
            font-weight: 500;
          }

          .details {
            @include row-wrap;
            column-gap: 8rem;
            row-gap: 2rem;
            padding-bottom: 1.5rem;

            .header {
              color: $theme-text_gray;
              margin-top: 1rem;
              text-transform: uppercase;
              font-weight: 400;
            }
            .text {
              color: $theme-text_gray;
              font-weight: 500;
              padding-top: 0.5rem;
            }
          }

          .details_2 {
            @include row-wrap;
            column-gap: 6rem;
            row-gap: 2rem;
            padding-bottom: 1.5rem;

            .header {
              color: $theme-text_gray;
              margin-top: 1rem;
              text-transform: uppercase;
              font-weight: 400;
            }
            .text {
              color: $theme-text_gray;
              font-weight: 500;
              padding-top: 0.5rem;
            }
          }
        }
      }
    }
  }
}

/* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */

@media (min-width: 481px) and (max-width: 767px) {
  .user_container {
    margin-top: 3rem;

    .page_name {
      color: $theme-text;
      font-weight: 500;
    }
    .main {
      margin-top: 3rem;
    }
    .statistics {
      @include row;
      justify-content: space-between;
      gap: 0.5rem;

      .modal {
        width: 33.33%;
        @include modal;

        .label {
          color: $theme-text;
          padding-top: 0.8rem;
          font-weight: 0.8rem;
        }
        .count {
          color: $theme-text;
          padding-top: 0.8rem;
          font-weight: 0.8rem;
          font-weight: 600;
        }
      }
    }
    .table_con {
      margin-top: 3rem;
    }
  }
}

/* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */

@media (min-width: 320px) and (max-width: 480px) {
  .user_container {
    margin-top: 2rem;
    overflow-x: auto;

    .page_name {
      color: $theme-text;
      font-weight: 500;
      font-size: 1.5rem;
      padding-left: 1rem;
    }
    .main {
      margin-top: 3rem;
    }
    .statistics {
      @include row-wrap;
      gap: 0.5rem;

      .modal {
        width: 35%;
        margin: auto;
        @include modal;

        .label {
          color: $theme-text;
          padding-top: 0.8rem;
          font-size: 0.9rem;
          text-align: center;
        }
        .img {
          display: block;
          margin: auto;
        }
        .count {
          color: $theme-text;
          padding-top: 0.8rem;
          font-size: 0.9rem;
          font-weight: 600;
          text-align: center;
        }
      }
    }

    .table_con {
      margin-top: 3rem;
    }
  }
  .user_details_container {
    margin-top: 3rem;
    overflow-x: auto;

    .back {
      @include row;
      color: $theme-text_gray;
      font-weight: 500;
      gap: 0.7rem;
      cursor: pointer;
    }

    .page_con {
      @include col;
      margin-top: 2rem;

      .page_name {
        color: $theme-text;
        font-weight: 500;
        display: block;
        width: 70%;
        font-size: 1.5rem;
      }

      .btn_grp {
        @include row;
        gap: 2rem;
        width: 100%;
        margin-top: 1rem;

        .btn {
          width: 45%;
          font-weight: 600;
        }
      }
    }
    .main {
      margin-top: 2rem;

      .user_con {
        @include modal;

        .user {
          @include col;
          gap: 2rem;

          .avatar {
            border-radius: 50%;
            width: 70px;
            height: 70px;
            margin: auto;
          }
          .text_con {
            margin-top: 0.4rem;
            margin: auto;
          }
          .text_1 {
            font-size: 0.1rem;
          }
        }

        .tab_con {
          @include row;
          justify-content: space-between;
          padding-top: 1.5rem;
          gap: 3rem;
          margin: auto;
          overflow: auto;
          display: none;

          .tab {
            width: 30%;
          }
          .tab_active {
            color: $theme-green;
            border-bottom: 0.2rem solid $theme-green;
            width: 30%;
          }
        }
      }

      .user_details {
        @include modal;
        margin-top: 2rem;

        .details_con {
          border-bottom: 0.1rem solid #f2f3f7;

          .title {
            color: $theme-text;
            font-weight: 500;
          }

          .details {
            @include row-wrap;
            column-gap: 8rem;
            row-gap: 2rem;
            padding-bottom: 1.5rem;

            .header {
              color: $theme-text_gray;
              margin-top: 1rem;
              text-transform: uppercase;
              font-weight: 400;
            }
            .text {
              color: $theme-text_gray;
              font-weight: 500;
              padding-top: 0.5rem;
            }
          }

          .details_2 {
            @include row-wrap;
            column-gap: 6rem;
            row-gap: 2rem;
            padding-bottom: 1.5rem;

            .header {
              color: $theme-text_gray;
              margin-top: 1rem;
              text-transform: uppercase;
              font-weight: 400;
            }
            .text {
              color: $theme-text_gray;
              font-weight: 500;
              padding-top: 0.5rem;
            }
          }
        }
      }
    }
  }
}
