@import "grid";
@import "var";

.logo_con {
  @include row;
  margin-left: 40px;
  gap: 0.5rem;

  .logo_text {
    font-size: 2.2rem;
    font-weight: bold;
    padding-top: 0.4rem;
    color: $theme-text;
  }

  .logo_img {
    height: 30px;
  }
}

@mixin modal {
  background-color: white;
  border-radius: 0.6rem;
  box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
  padding: 1.5rem;
  border: 0.01rem solid #f2f3f7;
}