@import "grid";
@import "var";

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/
@media (min-width: 1281px) {
  .container {
    @include row;
    height: 100vh;
  }
  .half {
    width: 50%;
    position: relative;
  }
  .logo_con {
    margin-left: 5rem;
    margin-top: 5rem;
  }
  .image_container {
    width: 80%;
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -60%);

    .img_login {
      object-fit: contain;
      width: 100%;
    }
  }

  .login_form_con {
    box-shadow: 0px 15px 90px rgba(0, 0, 0, 0.03);
    background-color: white;

    form {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 80%;
    }

    .header {
      font-size: 2.5rem;
      color: $theme-text;
    }
    .sub_header {
      font-size: 1.2rem;
      padding-left: 0.4rem;
      color: $theme-text_gray;
    }

    .input_con {
      margin-top: 40px;
      width: 70%;

      .input {
        margin-top: 30px;
      }

      .forgot {
        color: $theme-green;
        text-transform: uppercase;
        text-decoration: none;
        display: block;
        margin-top: 1.5rem;
        font-size: 0.75rem;
      }

      .login_btn {
        width: 100%;
        margin-top: 1.5rem;
      }
    }
  }
}

/* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */

@media (min-width: 1025px) and (max-width: 1280px) {
  .container {
    @include row;
    height: 100vh;
  }
  .half {
    width: 50%;
    position: relative;
  }
  .logo_con {
    margin-left: 5rem;
    margin-top: 5rem;
  }
  .image_container {
    width: 80%;
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -60%);

    .img_login {
      object-fit: contain;
      width: 100%;
    }
  }

  .login_form_con {
    box-shadow: 0px 15px 90px rgba(0, 0, 0, 0.03);
    background-color: white;

    form {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 80%;
    }

    .header {
      font-size: 2.5rem;
      color: $theme-text;
    }
    .sub_header {
      font-size: 1.2rem;
      padding-left: 0.4rem;
      color: $theme-text_gray;
    }

    .input_con {
      margin-top: 40px;
      width: 70%;

      .input {
        margin-top: 30px;
      }

      .forgot {
        color: $theme-green;
        text-transform: uppercase;
        text-decoration: none;
        display: block;
        margin-top: 1.5rem;
        font-size: 0.75rem;
      }

      .login_btn {
        width: 100%;
        margin-top: 1.5rem;
      }
    }
  }
}

/* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1024px) {
  .container {
    @include row;
    height: 100vh;
  }
  .half {
    width: 50%;
    position: relative;
  }
  .logo_con {
    margin-left: 5rem;
    margin-top: 5rem;
  }
  .image_container {
    width: 80%;
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -60%);

    .img_login {
      object-fit: contain;
      width: 100%;
    }
  }

  .login_form_con {
    box-shadow: 0px 15px 90px rgba(0, 0, 0, 0.03);
    background-color: white;

    form {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 80%;
    }

    .header {
      font-size: 2.5rem;
      color: $theme-text;
    }
    .sub_header {
      font-size: 1.2rem;
      padding-left: 0.4rem;
      color: $theme-text_gray;
    }

    .input_con {
      margin-top: 40px;
      width: 70%;

      .input {
        margin-top: 30px;
      }

      .forgot {
        color: $theme-green;
        text-transform: uppercase;
        text-decoration: none;
        display: block;
        margin-top: 1.5rem;
        font-size: 0.75rem;
      }

      .login_btn {
        width: 100%;
        margin-top: 1.5rem;
      }
    }
  }
}

/* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .container {
    @include row;
    height: 100vh;
  }
  .half {
    width: 50%;
    position: relative;
  }
  .logo_con {
    margin-left: 5rem;
    margin-top: 5rem;
  }
  .image_container {
    width: 80%;
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -60%);

    .img_login {
      object-fit: contain;
      width: 100%;
    }
  }

  .login_form_con {
    box-shadow: 0px 15px 90px rgba(0, 0, 0, 0.03);
    background-color: white;

    form {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 80%;
    }

    .header {
      font-size: 2.5rem;
      color: $theme-text;
    }
    .sub_header {
      font-size: 1.2rem;
      padding-left: 0.4rem;
      color: $theme-text_gray;
    }

    .input_con {
      margin-top: 40px;
      width: 70%;

      .input {
        margin-top: 30px;
      }

      .forgot {
        color: $theme-green;
        text-transform: uppercase;
        text-decoration: none;
        display: block;
        margin-top: 1.5rem;
        font-size: 0.75rem;
      }

      .login_btn {
        width: 100%;
        margin-top: 1.5rem;
      }
    }
  }
}

/* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */

@media (min-width: 481px) and (max-width: 767px) {
  .container {
    @include row;
    height: 100vh;
  }
  .half {
    width: 50%;
    position: relative;
  }
  .logo_con {
    margin-left: 5rem;
    margin-top: 5rem;
  }
  .image_container {
    width: 80%;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -40%);

    .img_login {
      object-fit: contain;
      width: 100%;
    }
  }

  .login_form_con {
    box-shadow: 0px 15px 90px rgba(0, 0, 0, 0.03);
    background-color: white;

    form {
      position: absolute;
      top: 30%;
      left: 50%;
      transform: translate(-50%, -30%);
      width: 80%;
    }

    .header {
      font-size: 2.5rem;
      color: $theme-text;
    }
    .sub_header {
      font-size: 1.2rem;
      padding-left: 0.4rem;
      color: $theme-text_gray;
    }

    .input_con {
      margin-top: 40px;
      width: 90%;

      .input {
        margin-top: 30px;
      }

      .forgot {
        color: $theme-green;
        text-transform: uppercase;
        text-decoration: none;
        display: block;
        margin-top: 1.5rem;
        font-size: 0.75rem;
      }

      .login_btn {
        width: 100%;
        margin-top: 1.5rem;
      }
    }
  }
}

/* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */

@media (min-width: 320px) and (max-width: 480px) {
  .container {
    @include col;
    height: 100vh;
  }
  .half {
    position: relative;
  }
  .logo_con {
    margin-left: 1rem;
    margin-top: 1rem;
  }
  .image_container {
    width: 80%;
    margin: auto;
    margin-top: 2rem;
    .img_login {
      object-fit: contain;
      width: 100%;
    }
  }

  .login_form_con {
    box-shadow: 0px 15px 90px rgba(0, 0, 0, 0.03);
    background-color: white;

    form {
      width: 95%;
      margin: auto;
      margin-top: 2rem;
    }

    .header {
      font-size: 2.5rem;
      color: $theme-text;
      text-align: center;
      padding-top: 0.8rem;
    }
    .sub_header {
      font-size: 1.2rem;
      padding-left: 0.4rem;
      color: $theme-text_gray;
      text-align: center;
    }

    .input_con {
      margin-top: 40px;
      width: 100%;

      .input {
        margin-top: 30px;
      }

      .forgot {
        color: $theme-green;
        text-transform: uppercase;
        text-decoration: none;
        display: block;
        margin-top: 1.5rem;
        font-size: 0.75rem;
      }

      .login_btn {
        width: 100%;
        margin-top: 1.5rem;
      }
    }
  }
}
