@import "grid";
@import "var";
@import "utils";

@mixin nav_btn {
  border: 0;
  @include row;
  gap: 0.3rem;
  width: 82%;
  background-color: white;
  cursor: pointer;
}

.logo_con {
  @include row;
  gap: 0.5rem;

  .img_logo_text {
    padding-top: 0.4rem;
  }

  .logo_img {
    height: 30px;
  }
}

.input_con {
  label {
    color: $theme-text_gray;
    padding-left: 0.1rem;
    padding-bottom: 0.5rem;
  }

  .input {
    @include row;
    justify-content: space-between;
    border: 0.1rem solid #edecec;
    height: 40px;
    border-radius: 0.4rem;

    &:focus-within {
      border-color: #007aff;
    }

    input {
      height: inherit;
      border: 0;
      border-radius: inherit;
      height: inherit;
      padding-left: 0.8rem;
      color: $theme-text_gray;
      width: 80%;

      &:focus {
        outline: none !important;
        border: 0 white;
      }
    }
  }
}

.button {
  background-color: $theme-green;
  border-radius: 0.5rem;
  border: 0;
  color: white;
  padding: 0.8rem;
  cursor: pointer;
}
.table_con {
  background-color: white;
  box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
  padding: 1rem;
  height: 70vh;
  overflow-x: auto;
  margin-bottom: 1rem;
  border-radius: 0.9rem;
  color: $theme-text_gray;

  .table {
    border-collapse: collapse;
    width: 100%;

    th,
    td {
      padding-top: 10px;
      padding-bottom: 20px;
      padding-left: 10px;
      padding-right: 10px;
    }

    tr {
      border-bottom: 0.01rem solid #eeeeef;

      td {
        padding: 1rem;
        margin: 2rem;
      }
    }
  }
}

.more_con {
  position: relative;

  .dropdown {
    position: absolute;
    top: 1rem;
    box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
    background-color: white;
    padding: 1.5rem;
    right: 1rem;
    width: 150px;
  }

  .action {
    @include row;
    gap: 0.6rem;
    border: 0;
    background-color: white;
    color: $theme-text_gray;
    cursor: pointer;
    margin-top: 1rem;
  }
}
