@import "utils";
@import "var";
* {
  margin: 0;
  padding: 0;
  font-family: Avenir Next;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  input[type="color"],
  input[type="date"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="email"],
  input[type="month"],
  input[type="number"],
  input[type="password"],
  input[type="search"],
  input[type="tel"],
  input[type="text"],
  input[type="time"],
  input[type="url"],
  input[type="week"],
  select:focus,
  textarea {
    font-size: 16px;
  }
}
.col {
  @include col;
}
.bg-grey{
  background-color: rgba(33, 63, 125, 0.1);;
}
.m-auto {
  margin: auto;
}
.bg-white {
  background-color: white;
}
.theme-text {
  color: $theme-text;
}
.theme-text_2 {
  color: $theme-text_gray;
}
.theme-text-green {
  color: $theme-green;
}
.bold {
  font-weight: bold;
}
.w-100 {
  width: 100%;
}
.w-50 {
  width: 50%;
}
.w-30 {
  width: 30%;
}
.w-20 {
  width: 20%;
}
.w-10 {
  width: 10%;
}
.fs-1 {
  font-size: 0.7rem;
}
.fs-6 {
  font-size: 0.9rem;
}
.mt-4 {
  margin-top: 2rem;
}
.mt-2 {
  margin-top: 0.8rem;
}
.mb-2 {
  margin-bottom: 0.8rem;
}
.mt-3 {
  margin-top: 1rem;
}
.mr-2 {
  padding-right: 1rem;
}
.fw-500 {
  font-weight: 500;
}
.fs-7 {
font-size: .75rem;
}
.gap-2 {
  gap: 2rem;
}
.c-p {
  cursor: pointer;
}
.uppercase {
  text-transform: uppercase;
}
.flex {
  @include row;
  gap: 0.4rem;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.flex {
  @include row;
}
.js-b {
  justify-content: space-between;
}

.border_btn {
  border: 0.1rem solid #edecec;
  border-radius: 0.5rem;
  color: $theme-text_gray;
  padding: 0.8rem;
  cursor: pointer;
  background-color: white;
}
.border_btn_red {
  border: 0.1rem solid #e4033b;
  border-radius: 0.5rem;
  color: #e4033b;
  padding: 0.8rem;
  cursor: pointer;
  background-color: white;
}
.border_btn_green {
  border: 0.1rem solid #39cdcc;
  border-radius: 0.5rem;
  color: #39cdcc;
  padding: 0.8rem;
  cursor: pointer;
  background-color: white;
}

.active-side_link {
  border-left: 0.3rem solid $theme-green !important;
  background-color: #f3fcfc !important;
}

.select {
  border: 0;
  background-color: white;
  padding-left: 1rem;
  color: $theme-text;
}

.pagination {
  display: flex;
  justify-content: space-between;
  list-style: none;
  cursor: pointer;
  margin-top: 20px;
}

.pagination a {
  padding: 10px;
  border-radius: 5px;
  color: #84818a !important;
}

.pagination__link {
  font-weight: bold;
}

.pagination__link--active a {
  color: var($theme-text) !important;
  padding: 10px;
  font-weight: 700;
}

.pagination__link--disabled a {
  color: rgb(198, 197, 202);
}

.pagination_btn {
  background-color: rgba(33, 63, 125, 0.1);
  padding: 0.5rem;
  border-radius: 0.3rem;
}

.active_status {
  color: #39CD62;
  background-color: #f3fcf6;
  padding: .7rem;
  border-radius: 1.5rem;
  text-align: center;
}
.inactive_status {
  color: $theme-text_gray;
  background-color: #f5f5f7;
  padding: .7rem;
  border-radius: 1.5rem;
  text-align: center;
}
.blacklisted_status {
  color: #E4033B;
  background-color: #fce6eb;
  padding: .7rem;
  border-radius: 1.5rem;
  text-align: center;
}
.pending_status {
  color: #E9B200;
  background-color: #fdf7e5;
  padding: .7rem;
  border-radius: 1.5rem;
  text-align: center;
}