@import "grid";
@import "var";
@import "utils";

@mixin nav_btn {
  border: 0;
  @include row;
  gap: 0.3rem;
  width: 82%;
  background-color: white;
  cursor: pointer;
}

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  .app_layout_con {
    height: 90vh;
    nav {
      background-color: white;
      box-shadow: 3px 0px 20px rgba(0, 0, 0, 0.04);
      height: 12vh;

      .nav_container {
        @include row;
        width: 97%;
        padding: 1rem;
        margin: auto;

        .nav_right {
          @include row;
          justify-content: space-between;
          width: 60%;
          gap: 6rem;

          .input {
            width: 70%;
          }
          .btn {
            border-left: 0;
            border-radius: 0.4rem;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            width: 20%;
          }
        }

        .nav_left {
          @include row;
          justify-content: flex-end;
          width: 50%;
          .nav_link {
            font-size: 1rem;
            color: $theme-text;
            padding: 0.8rem;
          }
          .icon_bell {
            color: $theme-text;
            padding: 0.8rem;
          }
          .user_nav {
            @include row;
            width: 20%;
            justify-content: space-between;
            cursor: pointer;
            padding-left: 0.6rem;

            .img {
              border-radius: 50%;
              width: 30%;
              height: 40px;
            }
            .text {
              color: $theme-text;
              padding-top: 0.5rem;
            }
          }
        }
      }
    }
    .main_con {
      @include row;
      height: 88vh;

      aside {
        width: 17%;
        box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.04);
        overflow-x: scroll;

        .org_con {
          margin-top: 2rem;
          .btn {
            @include nav_btn;
            margin: auto;
            .text {
              color: #7a8cb1;
              padding-top: 0.4rem;
            }
          }
        }
        .aside_route {
          @include col;
          gap: 0.4rem;
          width: 100%;
          margin: auto;
          margin-top: 1rem;

          .child_name {
            font-size: 0.7rem;
            margin-top: 2rem;
            color: $theme-text_gray;
            padding-left: 1rem
          }

          .btn {
            @include nav_btn;
            text-decoration: none;
            padding-left: .9rem;
            padding: .9rem;

            .text {
              color: #7a8cb1;
              font-size: 0.9rem;
            }
          }
        }
      }
      main {
        width: 83%;
        background-color: #fbfbfb;
        overflow-x: auto;

        .container {
          width: 95%;
          margin: auto;
        }
      }
    }
  }

  .filter {
    position: absolute;
    top: 4rem;
    background-color: white;
    padding: 1.3rem;
    display: block;
    border: 0.06rem solid #eeeeef;
    width: 23%;
    border-radius: 0.8rem;

    .grp_btn {
      @include row;

      .border_btn {
        background-color: white;
        border: 0.06rem solid #eeeeef;
      }
    }
  }
}

/* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */

@media (min-width: 1025px) and (max-width: 1280px) {
  .app_layout_con {
    height: 100vh;
    overflow: hidden;
    nav {
      background-color: white;
      box-shadow: 3px 0px 20px rgba(0, 0, 0, 0.04);
      height: 80px;
      height: 12vh;

      .nav_container {
        @include row;
        width: 97%;
        padding: 1rem;
        margin: auto;

        .nav_right {
          @include row;
          justify-content: space-between;
          width: 80%;
          gap: 6rem;

          .input {
            width: 70%;
          }
          .btn {
            border-left: 0;
            border-radius: 0.4rem;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            width: 20%;
          }
        }

        .nav_left {
          @include row;
          justify-content: flex-end;
          width: 50%;
          .nav_link {
            font-size: 1rem;
            color: $theme-text;
            padding: 0.8rem;
          }
          .icon_bell {
            color: $theme-text;
            padding: 0.8rem;
          }
          .user_nav {
            @include row;
            width: 35%;
            justify-content: space-between;
            cursor: pointer;
            padding-left: 0.6rem;

            .img {
              border-radius: 50%;
              width: 30%;
              height: 40px;
            }
            .text {
              color: $theme-text;
              padding-top: 0.5rem;
            }
          }
        }
      }
    }
    .main_con {
      @include row;
      height: 88vh;

      aside {
        width: 24%;
        box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.04);
        overflow-x: scroll;

        .org_con {
          margin-top: 2rem;
          .btn {
            @include nav_btn;
            margin: auto;
            .text {
              color: #7a8cb1;
              padding-top: 0.4rem;
            }
          }
        }

        .aside_route {
          @include col;
          gap: 0.4rem;
          width: 100%;
          margin: auto;
          margin-top: 1rem;

          .child_name {
            font-size: 0.7rem;
            margin-top: 2rem;
            color: $theme-text_gray;
            padding-left: 1rem;
          }

          .btn {
            @include nav_btn;
            text-decoration: none;
            padding-left: 0.9rem;
            padding: 0.9rem;

            .text {
              color: #7a8cb1;
              font-size: 0.9rem;
            }
          }
        }
      }
      main {
        width: 76%;
        background-color: #fbfbfb;
        overflow-x: auto;

        .container {
          width: 95%;
          margin: auto;
        }
      }
    }
  }

  .filter {
    position: absolute;
    top: 4rem;
    background-color: white;
    padding: 1.3rem;
    display: block;
    border: 0.06rem solid #eeeeef;
    width: 30%;
    border-radius: 0.8rem;
  }
}

/* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1024px) {
  .app_layout_con {
    height: 100vh;
    overflow: hidden;
    nav {
      background-color: white;
      box-shadow: 3px 0px 20px rgba(0, 0, 0, 0.04);
      height: 80px;
      height: 12vh;

      .nav_container {
        @include row;
        width: 97%;
        padding: 1rem;
        margin: auto;

        .nav_right {
          @include row;
          justify-content: space-between;
          width: 80%;
          gap: 6rem;

          .input {
            width: 70%;
          }
          .btn {
            border-left: 0;
            border-radius: 0.4rem;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            width: 20%;
          }
        }

        .nav_left {
          @include row;
          justify-content: flex-end;
          width: 50%;
          .nav_link {
            font-size: 1rem;
            color: $theme-text;
            padding: 0.8rem;
          }
          .icon_bell {
            color: $theme-text;
            padding: 0.8rem;
          }
          .user_nav {
            @include row;
            width: 35%;
            justify-content: space-between;
            cursor: pointer;
            padding-left: 0.6rem;

            .img {
              border-radius: 50%;
              width: 30%;
              height: 40px;
            }
            .text {
              color: $theme-text;
              padding-top: 0.5rem;
            }
          }
        }
      }
    }
    .main_con {
      @include row;
      height: 88vh;

      aside {
        width: 24%;
        box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.04);
        overflow-x: scroll;

        .org_con {
          margin-top: 2rem;
          .btn {
            @include nav_btn;
            margin: auto;
            .text {
              color: #7a8cb1;
              padding-top: 0.4rem;
            }
          }
        }

        .aside_route {
          @include col;
          gap: 0.4rem;
          width: 100%;
          margin: auto;
          margin-top: 1rem;

          .child_name {
            font-size: 0.7rem;
            margin-top: 2rem;
            color: $theme-text_gray;
            padding-left: 1rem;
          }

          .btn {
            @include nav_btn;
            text-decoration: none;
            padding-left: 0.9rem;
            padding: 0.9rem;

            .text {
              color: #7a8cb1;
              font-size: 0.9rem;
            }
          }
        }
      }
      main {
        width: 76%;
        background-color: #fbfbfb;
        overflow-x: auto;

        .container {
          width: 95%;
          margin: auto;
        }
      }
    }
  }
}

/* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .app_layout_con {
    height: 100vh;
    overflow: hidden;
    nav {
      background-color: white;
      box-shadow: 3px 0px 20px rgba(0, 0, 0, 0.04);
      height: 80px;
      height: 12vh;

      .nav_container {
        @include row;
        width: 97%;
        padding: 1rem;
        margin: auto;

        .nav_right {
          @include row;
          justify-content: space-between;
          width: 80%;
          gap: 6rem;

          .input {
            width: 70%;
          }
          .btn {
            border-left: 0;
            border-radius: 0.4rem;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            width: 20%;
          }
        }

        .nav_left {
          @include row;
          justify-content: flex-end;
          width: 50%;
          .nav_link {
            font-size: 1rem;
            color: $theme-text;
            padding: 0.8rem;
          }
          .icon_bell {
            color: $theme-text;
            padding: 0.8rem;
          }
          .user_nav {
            @include row;
            width: 35%;
            justify-content: space-between;
            cursor: pointer;
            padding-left: 0.6rem;

            .img {
              border-radius: 50%;
              width: 30%;
              height: 40px;
            }
            .text {
              color: $theme-text;
              padding-top: 0.5rem;
            }
          }
        }
      }
    }
    .main_con {
      @include row;
      height: 88vh;

      aside {
        width: 24%;
        box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.04);
        overflow-x: scroll;

        .org_con {
          margin-top: 2rem;
          .btn {
            @include nav_btn;
            margin: auto;
            .text {
              color: #7a8cb1;
              padding-top: 0.4rem;
            }
          }
        }

        .aside_route {
          @include col;
          gap: 0.4rem;
          width: 100%;
          margin: auto;
          margin-top: 1rem;

          .child_name {
            font-size: 0.7rem;
            margin-top: 2rem;
            color: $theme-text_gray;
            padding-left: 1rem;
          }

          .btn {
            @include nav_btn;
            text-decoration: none;
            padding-left: 0.9rem;
            padding: 0.9rem;

            .text {
              color: #7a8cb1;
              font-size: 0.9rem;
            }
          }
        }
      }
      main {
        width: 76%;
        background-color: #fbfbfb;
        overflow-x: auto;

        .container {
          width: 95%;
          margin: auto;
        }
      }
    }
  }
}

/* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */

@media (min-width: 481px) and (max-width: 767px) {
  .app_layout_con {
    height: 100vh;
    overflow: hidden;
    nav {
      background-color: white;
      box-shadow: 3px 0px 20px rgba(0, 0, 0, 0.04);
      height: 80px;
      height: 12vh;

      .nav_container {
        @include row;
        width: 97%;
        padding: 1rem;
        margin: auto;

        .nav_right {
          @include row;
          justify-content: space-between;
          width: 80%;
          gap: 6rem;

          .input {
            width: 70%;
          }
          .btn {
            border-left: 0;
            border-radius: 0.4rem;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            width: 20%;
          }
        }

        .nav_left {
          @include row;
          justify-content: flex-end;
          width: 50%;
          .nav_link {
            font-size: 1rem;
            color: $theme-text;
            padding: 0.8rem;
          }
          .icon_bell {
            color: $theme-text;
            padding: 0.8rem;
          }
          .user_nav {
            @include row;
            width: 35%;
            justify-content: space-between;
            cursor: pointer;
            padding-left: 0.6rem;

            .img {
              border-radius: 50%;
              width: 30%;
              height: 40px;
            }
            .text {
              color: $theme-text;
              padding-top: 0.5rem;
            }
          }
        }
      }
    }
    .main_con {
      @include row;
      height: 88vh;

      aside {
        width: 24%;
        box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.04);
        overflow-x: scroll;

        .org_con {
          margin-top: 2rem;
          .btn {
            @include nav_btn;
            margin: auto;
            .text {
              color: #7a8cb1;
              padding-top: 0.4rem;
            }
          }
        }

        .aside_route {
          @include col;
          gap: 0.4rem;
          width: 100%;
          margin: auto;
          margin-top: 1rem;

          .child_name {
            font-size: 0.7rem;
            margin-top: 2rem;
            color: $theme-text_gray;
            padding-left: 1rem
          }

          .btn {
            @include nav_btn;
            text-decoration: none;
            padding-left: .9rem;
            padding: .9rem;

            .text {
              color: #7a8cb1;
              font-size: 0.9rem;
            }
          }
        }
      }
      main {
        width: 70%;
        background-color: #fbfbfb;
        overflow-x: auto;
      }
    }
  }
}

/* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */

@media (min-width: 320px) and (max-width: 480px) {
  .app_layout_con {
    overflow: hidden;
    nav {
      background-color: white;
      box-shadow: 3px 0px 20px rgba(0, 0, 0, 0.04);
      height: 80px;
      height: 9vh;

      .nav_container {
        @include row;
        width: 100%;
        padding: 1rem;
        margin: auto;

        .nav_right {
          @include row;
          width: inherit;
          gap: 0.4rem;

          .input {
            width: 70%;
            display: none;
          }
          .btn {
            border-left: 0;
            border-radius: 0.4rem;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            width: 20%;
          }
        }

        .nav_left {
          display: none;
        }
      }
    }
    .main_con {
      @include row;
      height: 91vh;

      aside {
        width: 70%;
        position: absolute;
        background-color: white;
        box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.04);
        height: 90vh;
        overflow-x: scroll;
        z-index: 900;

        .org_con {
          margin-top: 2rem;
          .btn {
            @include nav_btn;
            margin: auto;
            .text {
              color: #7a8cb1;
              padding-top: 0.4rem;
            }
          }
        }

        .aside_route {
          @include col;
          gap: 0.4rem;
          width: 100%;
          margin: auto;
          margin-top: 1rem;

          .child_name {
            font-size: 0.7rem;
            margin-top: 2rem;
            color: $theme-text_gray;
            padding-left: 1rem
          }

          .btn {
            @include nav_btn;
            text-decoration: none;
            padding-left: .9rem;
            padding: .9rem;

            .text {
              color: #7a8cb1;
              font-size: 0.9rem;
            }
          }
        }
      }
      main {
        width: 100%;
        background-color: #fbfbfb;
        overflow-x: auto;

        .container {
          width: 95%;
          margin: auto;
        }
      }
    }
  }
}
